.text-wrap {
    white-space: normal;
}

.pointer {
    cursor: pointer;
}

.padding-bottoms {
    padding-bottom: 130px;
}

/*Collapse*/
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'FontAwesome';  /* essential for enabling glyphicon */
    content: "\f146";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: #009f9f;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f0fe";    /* adjust as needed, taken from bootstrap.css */
}

/*F&Q*/
.faq-cat-tabs li a {
    padding: 15px 5px 15px 5px; /*top right bottom left*/
    background-color: rgba(73, 87, 95, 0.61);
    border: 1px solid #ffd700;
    color: #009f9f;
}

.faq-cat-tabs li a:hover {
    background-color: #00a8ff;
    color: #0a0f1c;
    border: 1px solid #ffffff;
}

.text-answer{
    color: #0a0f1c;
}
/*END F&Q*/

.gallery-page .grid-item .content .content-title {
    color: #00a8ff;
    font-size: 1.571em;
    font-weight: 700;
    text-transform: capitalize;
    transition: all 0.5s ease;
    display: block;
    text-align: center;
}

.gallery-page .grid-item .content .content-edu {
    transition: all 0.5s ease;
    color: #e9f0f4;
    display: block;
    text-align: center;
}

.staff-name {
    font-size: 16px;
    color: #49575f;
    text-transform: uppercase;
    margin-bottom: 8px
}

.staff-job {
    color: #004f9f;
    text-transform: capitalize;
    margin-bottom: 25px
}

.staff-item-wrapper {
    width: 100%;
    height: 300px;
    overflow: hidden;
    transition: all 0.8s ease
}

.contactUs {
    width: 100%;
    height: 150px;
    overflow: hidden;
    transition: all 0.8s ease
}

/*COURSE COLOR*/
.color-a02764 {
    background-color: #d142ae;
}

.color-86bc42 {
    background-color: #00a8ff;
}

.color-00bef1 {
    background-color: #00bef1;
}

.color-7d3f98 {
    background-color: #ae4ab4;
}

.course-section {
    background-image: url("../images/all/slide0.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    color: #fff;
    background-size: cover;
}

.prospect-section {
    background-image: url("../images/OUMHQ2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    color: #fff;
    background-size: cover;
}

.lc-section {
    background-image: url("../images/OUMHQ2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    color: #fff;
    background-size: cover;
}

.lv-section {
    background-image: url("../images/OUMHQ2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    color: #fff;
    background-size: cover;
}

.faq-section {
    background-image: url("../images/OUMHQ2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    color: #fff;
    background-size: cover;
}

.about-section {
    background-image: url("../images/OUMHQ2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    color: #fff;
    background-size: cover;
}

/*PROSPECT ARROW RIGHT*/
.prospect-right {
    background: rgba(0, 0, 2, 0.65);
    border-style: solid;
    border-width: 2px;
    border-color: #ffd700;
    border-radius: 5%;
}

.prospect-right h4 {
    color: #ffd700;
    font-size: 14px;
    line-height: 15px;
    margin: 20px;
    padding: 2%;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.prospect-right h4 img {
    padding: 2%;
    /*height: 48px;*/
}

.prospect-right:after {
    content: '';
    display: block;
    position: absolute;
    left: 96%;
    top: 44%;
    margin-top: -15px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #ffd700;
}

/*PROSPECT END*/
.prospect-right-end {
    background: rgba(0, 0, 2, 0.65);
    border-style: solid;
    border-width: 2px;
    border-color: #ffd700;
    border-radius: 5%;
}

.prospect-right-end h4 {
    color: #ffd700;
    font-size: 14px;
    line-height: 15px;
    margin: 20px;
    padding: 2%;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.prospect-right-end h4 img {
    padding: 2%;
    /*height: 48px;*/
}

/*GRADUATING STUDENT ARROW RIGHT*/
.graduatingstudent-right {
    background: rgba(0, 0, 2, 0.65);
    border-style: solid;
    border-width: 2px;
    border-color: #ffd700;
    border-radius: 5%;
}

.graduatingstudent-right h4 {
    color: #ffd700;
    font-size: 14px;
    line-height: 15px;
    margin: 20px;
    padding: 2%;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.graduatingstudent-right h4 img {
    padding: 2%;
    /*height: 48px;*/
}

.graduatingstudent-right:after {
    content: '';
    display: block;
    position: absolute;
    left: 95%;
    top: 44%;
    margin-top: -15px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #ffd700;
}

/*GRADUATING STUDENT END*/
.graduatingstudent-end {
    background: rgba(0, 0, 2, 0.65);
    border-style: solid;
    border-width: 2px;
    border-color: #ffd700;
    border-radius: 5%;
}

.graduatingstudent-end h4 {
    color: #ffd700;
    font-size: 14px;
    line-height: 15px;
    margin: 20px;
    padding: 2%;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.graduatingstudent-end h4 img {
    padding: 2%;
    /*height: 48px;*/
}

/*NEW STUDENT ARROW RIGHT*/
.newstudent-right {
    background: rgba(0, 0, 2, 0.65);
    border-style: solid;
    border-width: 2px;
    border-color: #ffd700;
    border-radius: 5%;
    margin-bottom: 20px;
}

.newstudent-right h5 {
    color: #ffd700;
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;
    margin: 20px;
    padding: 2%;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

.newstudent-right h5 img {
    padding: 2%;
    height: 48px;
}

.newstudent-right:after {
    content: '';
    display: block;
    position: absolute;
    left: 92%;
    top: 44%;
    margin-top: -15px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #ffd700;
}

/*NEW STUDENT ARROW LEFT*/

.newstudent-left {
    background: rgba(0, 0, 2, 0.65);
    border-style: solid;
    border-width: 2px;
    border-color: #ffd700;
    border-radius: 5%;
    margin-bottom: 20px;
}

.newstudent-left h5 {
    color: #ffd700;
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;
    margin: 20px;
    padding: 2%;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

.newstudent-left h5 img {
    padding: 2%;
    height: 48px;
}

.newstudent-left:after {
    content: '';
    display: block;
    position: absolute;
    right: 92%;
    top: 45%;
    margin-top: -20px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 15px solid #ffd700;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
}

/*NEW STUDENT ARROW DOWN*/

.newstudent-down {
    background: rgba(0, 0, 2, 0.65);
    border-style: solid;
    border-width: 2px;
    border-color: #ffd700;
    border-radius: 5%;
    margin-bottom: 20px;
}

.newstudent-down h5 {
    color: #ffd700;
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;
    margin: 20px;
    padding: 2%;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

.newstudent-down h5 img {
    padding: 2%;
    height: 48px;
}

.newstudent-down:after {
    content: '';
    display: block;
    position: absolute;
    left: 45%;
    top: 85%;
    width: 0;
    height: 0;
    border-top: 15px solid #ffd700;
    border-right: 15px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 15px solid transparent;
}

/*NEW STUDENT END*/
.newstudent-end {
    background: rgba(0, 0, 2, 0.65);
    border-style: solid;
    border-width: 2px;
    border-color: #ffd700;
    border-radius: 5%;
}

.newstudent-end h5 {
    color: #ffd700;
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;
    margin: 20px;
    padding: 2%;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

.newstudent-end h5 img {
    padding: 2%;
    height: 48px;
}

/*EXISTING STUDENT ARROW RIGHT*/
.existingstudent-right {
    background: rgba(0, 0, 2, 0.65);
    border-style: solid;
    border-width: 2px;
    border-color: #ffd700;
    border-radius: 5%;
    margin-bottom: 20px;
}

.existingstudent-right h5 {
    color: #ffd700;
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;
    margin: 20px;
    padding: 2%;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

.existingstudent-right h5 img {
    padding: 2%;
    height: 48px;
}

.existingstudent-right:after {
    content: '';
    display: block;
    position: absolute;
    left: 92%;
    top: 44%;
    margin-top: -15px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #ffd700;
}

/*EXISTING STUDENT ARROW LEFT*/

.existingstudent-left {
    background: rgba(0, 0, 2, 0.65);
    border-style: solid;
    border-width: 2px;
    border-color: #ffd700;
    border-radius: 5%;
    margin-bottom: 20px;
}

.existingstudent-left h5 {
    color: #ffd700;
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;
    margin: 20px;
    padding: 2%;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

.existingstudent-left h5 img {
    padding: 2%;
    height: 48px;
}

.existingstudent-left:after {
    content: '';
    display: block;
    position: absolute;
    right: 92%;
    top: 45%;
    margin-top: -20px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 15px solid #ffd700;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
}

/*EXISTING STUDENT ARROW DOWN*/

.existingstudent-down {
    background: rgba(0, 0, 2, 0.65);
    border-style: solid;
    border-width: 2px;
    border-color: #ffd700;
    border-radius: 5%;
    margin-bottom: 20px;
}

.existingstudent-down h5 {
    color: #ffd700;
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;
    margin: 20px;
    padding: 2%;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

.existingstudent-down h5 img {
    padding: 2%;
    height: 48px;
}

.existingstudent-down:after {
    content: '';
    display: block;
    position: absolute;
    left: 45%;
    top: 85%;
    width: 0;
    height: 0;
    border-top: 15px solid #ffd700;
    border-right: 15px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 15px solid transparent;
}

/*EXISTING STUDENT END*/
.existingstudent-end {
    background: rgba(0, 0, 2, 0.65);
    border-style: solid;
    border-width: 2px;
    border-color: #ffd700;
    border-radius: 5%;
}

.existingstudent-end h5 {
    color: #ffd700;
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;
    margin: 20px;
    padding: 2%;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

.existingstudent-end h5 img {
    padding: 2%;
    height: 48px;
}