.btn-info-1 {
    color: #fff;
    background-color: #0014a8;
    border-color: #001df5;
}
.btn-info-1:focus,
.btn-info-1.focus {
    color: #fff;
    background-color: #31b0d5;
    border-color: #1b6d85;
}
.btn-info-1:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}
.btn-info-1:active,
.btn-info-1.active,
.open > .dropdown-toggle.btn-info-1 {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}
.btn-info-1:active:hover,
.btn-info-1.active:hover,
.open > .dropdown-toggle.btn-info-1:hover,
.btn-info-1:active:focus,
.btn-info-1.active:focus,
.open > .dropdown-toggle.btn-info-1:focus,
.btn-info-1:active.focus,
.btn-info-1.active.focus,
.open > .dropdown-toggle.btn-info-1.focus {
    color: #fff;
    background-color: #269abc;
    border-color: #1b6d85;
}
.btn-info-1:active,
.btn-info-1.active,
.open > .dropdown-toggle.btn-info-1 {
    background-image: none;
}
.btn-info-1.disabled:hover,
.btn-info-1[disabled]:hover,
fieldset[disabled] .btn-info-1:hover,
.btn-info-1.disabled:focus,
.btn-info-1[disabled]:focus,
fieldset[disabled] .btn-info-1:focus,
.btn-info-1.disabled.focus,
.btn-info-1[disabled].focus,
fieldset[disabled] .btn-info-1.focus {
    background-color: #0014a8;
    border-color: #001df5;
}
.btn-info-1 .badge {
    color: #5bc0de;
    background-color: #fff;
}


.btn-success-1 {
    color: #fff;
    background-color: #228b22;
    border-color: #2cb42c;
}
.btn-success-1:focus,
.btn-success-1.focus {
    color: #fff;
    background-color: #449d44;
    border-color: #255625;
}
.btn-success-1:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.btn-success-1:active,
.btn-success-1.active,
.open > .dropdown-toggle.btn-success-1 {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.btn-success-1:active:hover,
.btn-success-1.active:hover,
.open > .dropdown-toggle.btn-success-1:hover,
.btn-success-1:active:focus,
.btn-success-1.active:focus,
.open > .dropdown-toggle.btn-success-1:focus,
.btn-success-1:active.focus,
.btn-success-1.active.focus,
.open > .dropdown-toggle.btn-success-1.focus {
    color: #fff;
    background-color: #228b22;
    border-color: #2cb42c;
}
.btn-success-1:active,
.btn-success-1.active,
.open > .dropdown-toggle.btn-success-1 {
    background-image: none;
}
.btn-success-1.disabled:hover,
.btn-success-1[disabled]:hover,
fieldset[disabled] .btn-success-1:hover,
.btn-success-1.disabled:focus,
.btn-success-1[disabled]:focus,
fieldset[disabled] .btn-success-1:focus,
.btn-success-1.disabled.focus,
.btn-success-1[disabled].focus,
fieldset[disabled] .btn-success-1.focus {
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-success-1 .badge {
    color: #5cb85c;
    background-color: #fff;
}