/*LARGE*/
@media screen and (max-width: 1024px) {
    .timeline {
        margin-bottom: 30px;
    }

    /*NEW STUDENT*/
    .newstudent-right h5 {
        color: #FFFF00;
        font-size: 8px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .newstudent-right h5 img {
        padding: 1%;
        height: 48px;
    }

    .newstudent-right:after {
        content: '';
        display: block;
        position: absolute;
        left: 90%;
        top: 44%;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid #FFFF00;
    }

    /*END NEW STUDENT*/
}

@media screen and (max-width: 991px) {
    .timeline {
        margin-bottom: 30px;
    }

    /*PROSPECT STUDENT*/
    .prospect-right h4 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .prospect-right h4 img {
        padding: 1%;
        height: 48px;
    }

    .prospect-right:after {
        content: '';
        display: block;
        position: absolute;
        left: 93%;
        top: 44%;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid #FFFF00;
    }

    .prospect-right-end h4 {
        color: #FFFF00;
        font-size: 10px;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
    }

    .prospect-right-end h4 img {
        padding: 1%;
        height: 48px;
    }

    /*END PROSPECT STUDENT*/
    /*NEW STUDENT*/
    .right-responsive-newstudent {
        float: right;
    }

    .left-responsive-newstudent {
        float: left !important;
    }

    .newstudent-right h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .newstudent-right h5 img {
        padding: 1%;
        height: 48px;
    }

    .newstudent-left h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .newstudent-left h5 img {
        padding: 1%;
        height: 48px;
    }

    .newstudent-down h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .newstudent-down h5 img {
        padding: 1%;
        height: 48px;
    }

    .newstudent-end h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .newstudent-end h5 img {
        padding: 1%;
        height: 48px;
    }

    .newstudent-right:after {
        content: '';
        display: block;
        position: absolute;
        left: 94%;
        top: 44%;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid #FFFF00;
    }

    .newstudent-left::after {
        content: '';
        display: block;
        position: absolute;
        right: 92%;
        top: 45%;
        margin-top: -20px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 15px solid #FFFF00;
        border-bottom: 15px solid transparent;
        border-left: 15px solid transparent;
    }

    .responsive-down-newstudent:after {
        content: '';
        display: block;
        position: absolute;
        left: 45%;
        top: 98%;
        width: 0;
        height: 0;
        border-top: 15px solid #FFFF00;
        border-right: 15px solid transparent;
        border-bottom: 0 solid transparent;
        border-left: 15px solid transparent;
    }

    .responsive-left-newstudent:after {
        content: '';
        display: block;
        position: absolute;
        left: -6%;
        top: 45%;
        margin-top: -20px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 15px solid #FFFF00;
        border-bottom: 15px solid transparent;
        border-left: 15px solid transparent;
    }

    .responsive-right-newstudent:after {
        content: '';
        display: block;
        position: absolute;
        left: 94%;
        top: 44%;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid #FFFF00;
    }

    /*END NEW STUDENT*/

    /*EXISTING STUDENT*/
    .right-responsive-existingstudent {
        float: right;
    }

    .left-responsive-existingstudent {
        float: left !important;
    }

    .existingstudent-right h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .existingstudent-right h5 img {
        padding: 1%;
        height: 48px;
    }

    .existingstudent-left h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .existingstudent-left h5 img {
        padding: 1%;
        height: 48px;
    }

    .existingstudent-down h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .existingstudent-down h5 img {
        padding: 1%;
        height: 48px;
    }

    .existingstudent-end h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .existingstudent-end h5 img {
        padding: 1%;
        height: 48px;
    }

    .existingstudent-right:after {
        content: '';
        display: block;
        position: absolute;
        left: 94%;
        top: 44%;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid #FFFF00;
    }

    .existingstudent-left::after {
        content: '';
        display: block;
        position: absolute;
        right: 92%;
        top: 45%;
        margin-top: -20px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 15px solid #FFFF00;
        border-bottom: 15px solid transparent;
        border-left: 15px solid transparent;
    }

    .responsive-down-existingstudent:after {
        content: '';
        display: block;
        position: absolute;
        left: 45%;
        top: 98%;
        width: 0;
        height: 0;
        border-top: 15px solid #FFFF00;
        border-right: 15px solid transparent;
        border-bottom: 0 solid transparent;
        border-left: 15px solid transparent;
    }

    .responsive-left-existingstudent:after {
        content: '';
        display: block;
        position: absolute;
        left: -6%;
        top: 45%;
        margin-top: -20px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 15px solid #FFFF00;
        border-bottom: 15px solid transparent;
        border-left: 15px solid transparent;
    }

    .responsive-right-existingstudent:after {
        content: '';
        display: block;
        position: absolute;
        left: 94%;
        top: 44%;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid #FFFF00;
    }

    /*END EXISTING STUDENT*/

    /*END GRADUATING STUDENT*/
    .graduatingstudent-right h4 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .graduatingstudent-right h4 img {
        padding: 1%;
        height: 48px;
    }

    .graduatingstudent-right:after {
        content: '';
        display: block;
        position: absolute;
        left: 93%;
        top: 44%;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid #FFFF00;
    }

    .graduatingstudent-end h4 {
        color: #FFFF00;
        font-size: 10px;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
    }

    .graduatingstudent-end h4 img {
        padding: 1%;
        height: 48px;
    }

    /*END GRADUATING STUDENT*/
}

@media screen and (max-width: 768px) {
    .timeline {
        margin-bottom: 30px;
    }

    /*PROSPECT STUDENT*/
    .prospect-right h4 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .prospect-right h4 img {
        padding: 1%;
        height: 48px;
    }

    .prospect-right:after {
        content: '';
        display: block;
        position: absolute;
        left: 93%;
        top: 44%;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid #FFFF00;
    }

    .prospect-right-end h4 {
        color: #FFFF00;
        font-size: 10px;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
    }

    .prospect-right-end h4 img {
        padding: 1%;
        height: 48px;
    }

    /*END PROSPECT STUDENT*/
    /*NEW STUDENT*/
    .right-responsive-newstudent {
        float: right;
    }

    .left-responsive-newstudent {
        float: left !important;
    }

    .newstudent-right h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .newstudent-right h5 img {
        padding: 1%;
        height: 48px;
    }

    .newstudent-left h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .newstudent-left h5 img {
        padding: 1%;
        height: 48px;
    }

    .newstudent-down h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .newstudent-down h5 img {
        padding: 1%;
        height: 48px;
    }

    .newstudent-end h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .newstudent-end h5 img {
        padding: 1%;
        height: 48px;
    }

    .newstudent-right:after {
        content: '';
        display: block;
        position: absolute;
        left: 94%;
        top: 44%;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid #FFFF00;
    }

    .newstudent-left::after {
        content: '';
        display: block;
        position: absolute;
        right: 92%;
        top: 45%;
        margin-top: -20px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 15px solid #FFFF00;
        border-bottom: 15px solid transparent;
        border-left: 15px solid transparent;
    }

    .responsive-down-newstudent:after {
        content: '';
        display: block;
        position: absolute;
        left: 45%;
        top: 98%;
        width: 0;
        height: 0;
        border-top: 15px solid #FFFF00;
        border-right: 15px solid transparent;
        border-bottom: 0 solid transparent;
        border-left: 15px solid transparent;
    }

    .responsive-left-newstudent:after {
        content: '';
        display: block;
        position: absolute;
        left: -6%;
        top: 45%;
        margin-top: -20px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 15px solid #FFFF00;
        border-bottom: 15px solid transparent;
        border-left: 15px solid transparent;
    }

    .responsive-right-newstudent:after {
        content: '';
        display: block;
        position: absolute;
        left: 94%;
        top: 44%;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid #FFFF00;
    }
    /*END NEW STUDENT*/

    /*EXISTING STUDENT*/
    .right-responsive-existingstudent {
        float: right;
    }

    .left-responsive-existingstudent {
        float: left !important;
    }

    .existingstudent-right h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .existingstudent-right h5 img {
        padding: 1%;
        height: 48px;
    }

    .existingstudent-left h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .existingstudent-left h5 img {
        padding: 1%;
        height: 48px;
    }

    .existingstudent-down h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .existingstudent-down h5 img {
        padding: 1%;
        height: 48px;
    }

    .existingstudent-end h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .existingstudent-end h5 img {
        padding: 1%;
        height: 48px;
    }

    .existingstudent-right:after {
        content: '';
        display: block;
        position: absolute;
        left: 94%;
        top: 44%;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid #FFFF00;
    }

    .existingstudent-left::after {
        content: '';
        display: block;
        position: absolute;
        right: 92%;
        top: 45%;
        margin-top: -20px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 15px solid #FFFF00;
        border-bottom: 15px solid transparent;
        border-left: 15px solid transparent;
    }

    .responsive-down-existingstudent:after {
        content: '';
        display: block;
        position: absolute;
        left: 45%;
        top: 98%;
        width: 0;
        height: 0;
        border-top: 15px solid #FFFF00;
        border-right: 15px solid transparent;
        border-bottom: 0 solid transparent;
        border-left: 15px solid transparent;
    }

    .responsive-left-existingstudent:after {
        content: '';
        display: block;
        position: absolute;
        left: -6%;
        top: 45%;
        margin-top: -20px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 15px solid #FFFF00;
        border-bottom: 15px solid transparent;
        border-left: 15px solid transparent;
    }

    .responsive-right-existingstudent:after {
        content: '';
        display: block;
        position: absolute;
        left: 94%;
        top: 44%;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid #FFFF00;
    }

    /*END EXISTING STUDENT*/

    /*END GRADUATING STUDENT*/
    .graduatingstudent-right h4 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .graduatingstudent-right h4 img {
        padding: 1%;
        height: 48px;
    }

    .graduatingstudent-right:after {
        content: '';
        display: block;
        position: absolute;
        left: 93%;
        top: 44%;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid #FFFF00;
    }

    .graduatingstudent-end h4 {
        color: #FFFF00;
        font-size: 10px;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
    }

    .graduatingstudent-end h4 img {
        padding: 1%;
        height: 48px;
    }

    /*END GRADUATING STUDENT*/
}

/*MEDIUM*/
@media screen and (max-width: 767px) {

    /*PROSPECT STUDENT*/
    .prospect-right h4 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .prospect-right h4 img {
        padding: 1%;
        height: 48px;
    }

    .prospect-right:after {
        content: '';
        display: block;
        position: absolute;
        left: 93%;
        top: 44%;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid #FFFF00;
    }

    .prospect-right-end h4 {
        color: #FFFF00;
        font-size: 10px;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
    }

    .prospect-right-end h4 img {
        padding: 1%;
        height: 48px;
    }

    /*END PROSPECT STUDENT*/
    /*NEW STUDENT*/
    .right-responsive-newstudent {
        float: right;
    }

    .left-responsive-newstudent {
        float: left !important;
    }

    .newstudent-right h5 {
        color: #FFFF00;
        font-size: 8px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .newstudent-right h5 img {
        padding: 1%;
        height: 48px;
    }

    .newstudent-left h5 {
        color: #FFFF00;
        font-size: 8px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .newstudent-left h5 img {
        padding: 1%;
        height: 48px;
    }

    .newstudent-down h5 {
        color: #FFFF00;
        font-size: 8px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .newstudent-down h5 img {
        padding: 1%;
        height: 48px;
    }

    .newstudent-end h5 {
        color: #FFFF00;
        font-size: 8px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .newstudent-end h5 img {
        padding: 1%;
        height: 48px;
    }

    .newstudent-right:after {
        content: '';
        display: block;
        position: absolute;
        left: 93%;
        top: 44%;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 12px solid #FFFF00;
    }

    .responsive-down-newstudent:after {
        content: '';
        display: block;
        position: absolute;
        left: 45%;
        top: 95%;
        width: 0;
        height: 0;
        border-top: 15px solid #FFFF00;
        border-right: 15px solid transparent;
        border-bottom: 0 solid transparent;
        border-left: 15px solid transparent;
    }

    .responsive-left-newstudent:after {
        content: '';
        display: block;
        position: absolute;
        left: -6%;
        top: 45%;
        margin-top: -20px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 15px solid #FFFF00;
        border-bottom: 15px solid transparent;
        border-left: 15px solid transparent;
    }

    /*END NEW STUDENT*/

    /*EXISTING STUDENT*/
    .right-responsive-existingstudent {
        float: right;
    }

    .left-responsive-existingstudent {
        float: left !important;
    }

    .existingstudent-right h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .existingstudent-right h5 img {
        padding: 1%;
        height: 48px;
    }

    .existingstudent-left h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .existingstudent-left h5 img {
        padding: 1%;
        height: 48px;
    }

    .existingstudent-down h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .existingstudent-down h5 img {
        padding: 1%;
        height: 48px;
    }

    .existingstudent-end h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .existingstudent-end h5 img {
        padding: 1%;
        height: 48px;
    }

    .existingstudent-right:after {
        content: '';
        display: block;
        position: absolute;
        left: 94%;
        top: 44%;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 12px solid #FFFF00;
    }

    .existingstudent-left::after {
        content: '';
        display: block;
        position: absolute;
        right: 92%;
        top: 45%;
        margin-top: -20px;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-right: 12px solid #FFFF00;
        border-bottom: 12px solid transparent;
        border-left: 12px solid transparent;
    }

    .responsive-down-existingstudent:after {
        content: '';
        display: block;
        position: absolute;
        left: 45%;
        top: 98%;
        width: 0;
        height: 0;
        border-top: 12px solid #FFFF00;
        border-right: 12px solid transparent;
        border-bottom: 0 solid transparent;
        border-left: 12px solid transparent;
    }

    .responsive-left-existingstudent:after {
        content: '';
        display: block;
        position: absolute;
        left: -6%;
        top: 45%;
        margin-top: -20px;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-right: 12px solid #FFFF00;
        border-bottom: 12px solid transparent;
        border-left: 12px solid transparent;
    }

    .responsive-right-existingstudent:after {
        content: '';
        display: block;
        position: absolute;
        left: 94%;
        top: 44%;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 12px solid #FFFF00;
    }

    /*END EXISTING STUDENT*/

    /*END GRADUATING STUDENT*/
    .graduatingstudent-right h4 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .graduatingstudent-right h4 img {
        padding: 1%;
        height: 48px;
    }

    .graduatingstudent-right:after {
        content: '';
        display: block;
        position: absolute;
        left: 93%;
        top: 44%;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid #FFFF00;
    }

    .graduatingstudent-end h4 {
        color: #FFFF00;
        font-size: 10px;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
    }

    .graduatingstudent-end h4 img {
        padding: 1%;
        height: 48px;
    }

    /*END GRADUATING STUDENT*/
}

@media screen and (max-width: 600px) {
    /*PROSPECT STUDENT*/
    .prospect-right h4 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .prospect-right h4 img {
        padding: 1%;
        height: 48px;
    }

    .prospect-right:after {
        content: '';
        display: block;
        position: absolute;
        left: 91%;
        top: 44%;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 12px solid #FFFF00;
    }

    .prospect-right-end h4 {
        color: #FFFF00;
        font-size: 10px;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
    }

    .prospect-right-end h4 img {
        padding: 1%;
        height: 48px;
    }

    /*END PROSPECT STUDENT*/
    /*NEW STUDENT*/
    .right-responsive-newstudent {
        float: right;
    }

    .left-responsive-newstudent {
        float: left !important;
    }

    .newstudent-right h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .newstudent-right h5 img {
        padding: 1%;
        height: 48px;
    }

    .newstudent-left h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .newstudent-left h5 img {
        padding: 1%;
        height: 48px;
    }

    .newstudent-down h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .newstudent-down h5 img {
        padding: 1%;
        height: 48px;
    }

    .newstudent-end h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .newstudent-end h5 img {
        padding: 1%;
        height: 48px;
    }

    .newstudent-right:after {
        content: '';
        display: block;
        position: absolute;
        left: 92%;
        top: 44%;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 12px solid #FFFF00;
    }

    .newstudent-left::after {
        content: '';
        display: block;
        position: absolute;
        right: 92%;
        top: 45%;
        margin-top: -20px;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-right: 12px solid #FFFF00;
        border-bottom: 12px solid transparent;
        border-left: 12px solid transparent;
    }

    .responsive-down-newstudent:after {
        content: '';
        display: block;
        position: absolute;
        left: 45%;
        top: 96%;
        width: 0;
        height: 0;
        border-top: 12px solid #FFFF00;
        border-right: 12px solid transparent;
        border-bottom: 0 solid transparent;
        border-left: 12px solid transparent;
    }

    .responsive-left-newstudent:after {
        content: '';
        display: block;
        position: absolute;
        left: -6%;
        top: 45%;
        margin-top: -20px;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-right: 12px solid #FFFF00;
        border-bottom: 12px solid transparent;
        border-left: 12px solid transparent;
    }

    .responsive-right-newstudent:after {
        content: '';
        display: block;
        position: absolute;
        left: 94%;
        top: 44%;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 12px solid #FFFF00;
    }
    .newstudent-down:after {
         content: '';
         display: block;
         position: absolute;
         left: 45%;
         top: 85%;
         width: 0;
         height: 0;
         border-top: 12px solid #FFFF00;
         border-right: 12px solid transparent;
         border-bottom: 0 solid transparent;
         border-left: 12px solid transparent;
     }

    /*END NEW STUDENT*/

    /*EXISTING STUDENT*/
    .right-responsive-existingstudent {
        float: right;
    }

    .left-responsive-existingstudent {
        float: left !important;
    }

    .existingstudent-right h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .existingstudent-right h5 img {
        padding: 1%;
        height: 48px;
    }

    .existingstudent-left h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .existingstudent-left h5 img {
        padding: 1%;
        height: 48px;
    }

    .existingstudent-down h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .existingstudent-down h5 img {
        padding: 1%;
        height: 48px;
    }

    .existingstudent-end h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .existingstudent-end h5 img {
        padding: 1%;
        height: 48px;
    }

    .existingstudent-right:after {
        content: '';
        display: block;
        position: absolute;
        left: 94%;
        top: 44%;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 12px solid #FFFF00;
    }

    .existingstudent-left::after {
        content: '';
        display: block;
        position: absolute;
        right: 92%;
        top: 45%;
        margin-top: -20px;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-right: 12px solid #FFFF00;
        border-bottom: 12px solid transparent;
        border-left: 12px solid transparent;
    }

    .responsive-down-existingstudent:after {
        content: '';
        display: block;
        position: absolute;
        left: 45%;
        top: 98%;
        width: 0;
        height: 0;
        border-top: 12px solid #FFFF00;
        border-right: 12px solid transparent;
        border-bottom: 0 solid transparent;
        border-left: 12px solid transparent;
    }

    .responsive-left-existingstudent:after {
        content: '';
        display: block;
        position: absolute;
        left: -6%;
        top: 45%;
        margin-top: -20px;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-right: 12px solid #FFFF00;
        border-bottom: 12px solid transparent;
        border-left: 12px solid transparent;
    }

    .responsive-right-existingstudent:after {
        content: '';
        display: block;
        position: absolute;
        left: 94%;
        top: 44%;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 12px solid #FFFF00;
    }

    /*END EXISTING STUDENT*/
    /*END GRADUATING STUDENT*/
    .graduatingstudent-right h4 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .graduatingstudent-right h4 img {
        padding: 1%;
        height: 48px;
    }

    .graduatingstudent-right:after {
        content: '';
        display: block;
        position: absolute;
        left: 93%;
        top: 44%;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid #FFFF00;
    }

    .graduatingstudent-end h4 {
        color: #FFFF00;
        font-size: 10px;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
    }

    .graduatingstudent-end h4 img {
        padding: 1%;
        height: 48px;
    }

    /*END GRADUATING STUDENT*/
}

@media screen and (max-width: 480px) {
    /*PROSPECT STUDENT*/
    .prospect-right h4 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .prospect-right h4 img {
        padding: 1%;
        height: 48px;
    }

    .prospect-right:after {
        content: '';
        display: block;
        position: absolute;
        left: 90%;
        top: 44%;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid #FFFF00;
    }

    .prospect-right-end h4 {
        color: #FFFF00;
        font-size: 10px;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
    }

    .prospect-right-end h4 img {
        padding: 1%;
        height: 48px;
    }

    /*END PROSPECT STUDENT*/
    /*NEW STUDENT*/
    .right-responsive-newstudent {
        float: right;
    }

    .left-responsive-newstudent {
        float: left !important;
    }

    .newstudent-right h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .newstudent-right h5 img {
        padding: 1%;
        height: 48px;
    }

    .newstudent-left h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .newstudent-left h5 img {
        padding: 1%;
        height: 48px;
    }

    .newstudent-down h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .newstudent-down h5 img {
        padding: 1%;
        height: 48px;
    }

    .newstudent-end h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .newstudent-end h5 img {
        padding: 1%;
        height: 48px;
    }

    .newstudent-right:after {
        content: '';
        display: block;
        position: absolute;
        left: 92%;
        top: 44%;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 12px solid #FFFF00;
    }

    .newstudent-left::after {
        content: '';
        display: block;
        position: absolute;
        right: 92%;
        top: 45%;
        margin-top: -20px;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-right: 12px solid #FFFF00;
        border-bottom: 12px solid transparent;
        border-left: 12px solid transparent;
    }

    .responsive-down-newstudent:after {
        content: '';
        display: block;
        position: absolute;
        left: 45%;
        top: 96%;
        width: 0;
        height: 0;
        border-top: 12px solid #FFFF00;
        border-right: 12px solid transparent;
        border-bottom: 0 solid transparent;
        border-left: 12px solid transparent;
    }

    .responsive-left-newstudent:after {
        content: '';
        display: block;
        position: absolute;
        left: -6%;
        top: 45%;
        margin-top: -20px;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-right: 12px solid #FFFF00;
        border-bottom: 12px solid transparent;
        border-left: 12px solid transparent;
    }

    .responsive-right-newstudent:after {
        content: '';
        display: block;
        position: absolute;
        left: 94%;
        top: 44%;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 12px solid #FFFF00;
    }
    .newstudent-down:after {
         content: '';
         display: block;
         position: absolute;
         left: 45%;
         top: 85%;
         width: 0;
         height: 0;
         border-top: 12px solid #FFFF00;
         border-right: 12px solid transparent;
         border-bottom: 0 solid transparent;
         border-left: 12px solid transparent;
     }

    /*END NEW STUDENT*/

    /*EXISTING STUDENT*/
    .right-responsive-existingstudent {
        float: right;
    }

    .left-responsive-existingstudent {
        float: left !important;
    }

    .existingstudent-right h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .existingstudent-right h5 img {
        padding: 1%;
        height: 48px;
    }

    .existingstudent-left h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .existingstudent-left h5 img {
        padding: 1%;
        height: 48px;
    }

    .existingstudent-down h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .existingstudent-down h5 img {
        padding: 1%;
        height: 48px;
    }

    .existingstudent-end h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .existingstudent-end h5 img {
        padding: 1%;
        height: 48px;
    }

    .existingstudent-right:after {
        content: '';
        display: block;
        position: absolute;
        left: 94%;
        top: 44%;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 12px solid #FFFF00;
    }

    .existingstudent-left::after {
        content: '';
        display: block;
        position: absolute;
        right: 92%;
        top: 45%;
        margin-top: -20px;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-right: 12px solid #FFFF00;
        border-bottom: 12px solid transparent;
        border-left: 12px solid transparent;
    }

    .responsive-down-existingstudent:after {
        content: '';
        display: block;
        position: absolute;
        left: 45%;
        top: 98%;
        width: 0;
        height: 0;
        border-top: 12px solid #FFFF00;
        border-right: 12px solid transparent;
        border-bottom: 0 solid transparent;
        border-left: 12px solid transparent;
    }

    .responsive-left-existingstudent:after {
        content: '';
        display: block;
        position: absolute;
        left: -6%;
        top: 45%;
        margin-top: -20px;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-right: 12px solid #FFFF00;
        border-bottom: 12px solid transparent;
        border-left: 12px solid transparent;
    }

    .responsive-right-existingstudent:after {
        content: '';
        display: block;
        position: absolute;
        left: 94%;
        top: 44%;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 12px solid #FFFF00;
    }

    /*END EXISTING STUDENT*/
    /*END GRADUATING STUDENT*/
    .graduatingstudent-right h4 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .graduatingstudent-right h4 img {
        padding: 1%;
        height: 48px;
    }

    .graduatingstudent-right:after {
        content: '';
        display: block;
        position: absolute;
        left: 93%;
        top: 44%;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid #FFFF00;
    }

    .graduatingstudent-end h4 {
        color: #FFFF00;
        font-size: 10px;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
    }

    .graduatingstudent-end h4 img {
        padding: 1%;
        height: 48px;
    }

    /*END GRADUATING STUDENT*/
}

/*SMALL*/
@media screen and (max-width: 420px) {
    /*PROSPECT STUDENT*/
    .prospect-right h4 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .prospect-right h4 img {
        padding: 1%;
        height: 48px;
    }

    .prospect-right:after {
        content: '';
        display: block;
        position: absolute;
        left: 89%;
        top: 44%;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid #FFFF00;
    }

    .prospect-right-end h4 {
        color: #FFFF00;
        font-size: 10px;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
    }

    .prospect-right-end h4 img {
        padding: 1%;
        height: 48px;
    }

    /*END PROSPECT STUDENT*/
    /*NEW STUDENT*/
    .right-responsive-newstudent {
        float: right;
    }

    .left-responsive-newstudent {
        float: left !important;
    }

    .newstudent-right h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .newstudent-right h5 img {
        padding: 1%;
        height: 48px;
    }

    .newstudent-left h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .newstudent-left h5 img {
        padding: 1%;
        height: 48px;
    }

    .newstudent-down h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .newstudent-down h5 img {
        padding: 1%;
        height: 48px;
    }

    .newstudent-end h5 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .newstudent-end h5 img {
        padding: 1%;
        height: 48px;
    }

    .newstudent-right:after {
        content: '';
        display: block;
        position: absolute;
        left: 92%;
        top: 44%;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 12px solid #FFFF00;
    }

    .newstudent-left::after {
        content: '';
        display: block;
        position: absolute;
        right: 92%;
        top: 45%;
        margin-top: -20px;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-right: 12px solid #FFFF00;
        border-bottom: 12px solid transparent;
        border-left: 12px solid transparent;
    }

    .responsive-down-newstudent:after {
        content: '';
        display: block;
        position: absolute;
        left: 45%;
        top: 96%;
        width: 0;
        height: 0;
        border-top: 12px solid #FFFF00;
        border-right: 12px solid transparent;
        border-bottom: 0 solid transparent;
        border-left: 12px solid transparent;
    }

    .responsive-left-newstudent:after {
        content: '';
        display: block;
        position: absolute;
        left: -6%;
        top: 45%;
        margin-top: -20px;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-right: 12px solid #FFFF00;
        border-bottom: 12px solid transparent;
        border-left: 12px solid transparent;
    }

    .responsive-right-newstudent:after {
        content: '';
        display: block;
        position: absolute;
        left: 94%;
        top: 44%;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 12px solid #FFFF00;
    }
    .newstudent-down:after {
        content: '';
        display: block;
        position: absolute;
        left: 45%;
        top: 85%;
        width: 0;
        height: 0;
        border-top: 12px solid #FFFF00;
        border-right: 12px solid transparent;
        border-bottom: 0 solid transparent;
        border-left: 12px solid transparent;
    }

    /*END NEW STUDENT*/
}

@media screen and (max-width: 414px) {

    /*PROSPECT STUDENT*/
    .prospect-right h4 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .prospect-right h4 img {
        padding: 1%;
        height: 48px;
    }

    .prospect-right:after {
        content: '';
        display: block;
        position: absolute;
        left: 89%;
        top: 44%;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid #FFFF00;
    }

    .prospect-right-end h4 {
        color: #FFFF00;
        font-size: 10px;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
    }

    .prospect-right-end h4 img {
        padding: 1%;
        height: 48px;
    }

    /*END PROSPECT STUDENT*/
    /*NEW STUDENT*/
    .right-responsive-newstudent {
        float: right;
    }

    .left-responsive-newstudent {
        float: left !important;
    }

    .newstudent-right h5 {
        color: #FFFF00;
        font-size: 8px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .newstudent-right h5 img {
        padding: 1%;
        height: 48px;
    }

    .newstudent-left h5 {
        color: #FFFF00;
        font-size: 8px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .newstudent-left h5 img {
        padding: 1%;
        height: 48px;
    }

    .newstudent-down h5 {
        color: #FFFF00;
        font-size: 8px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .newstudent-down h5 img {
        padding: 1%;
        height: 48px;
    }

    .newstudent-end h5 {
        color: #FFFF00;
        font-size: 8px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .newstudent-end h5 img {
        padding: 1%;
        height: 48px;
    }

    .newstudent-right:after {
        content: '';
        display: block;
        position: absolute;
        left: 88%;
        top: 44%;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid #FFFF00;
    }

    .responsive-down-newstudent:after {
        content: '';
        display: block;
        position: absolute;
        left: 45%;
        top: 95%;
        width: 0;
        height: 0;
        border-top: 15px solid #FFFF00;
        border-right: 15px solid transparent;
        border-bottom: 0 solid transparent;
        border-left: 15px solid transparent;
    }

    .responsive-left-newstudent:after {
        content: '';
        display: block;
        position: absolute;
        left: -6%;
        top: 45%;
        margin-top: -20px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 15px solid #FFFF00;
        border-bottom: 15px solid transparent;
        border-left: 15px solid transparent;
    }

    /*END NEW STUDENT*/
}

@media screen and (max-width: 380px) {

    /*PROSPECT STUDENT*/
    .prospect-right h4 {
        color: #FFFF00;
        font-size: 10px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .prospect-right h4 img {
        padding: 1%;
        height: 48px;
    }

    .prospect-right:after {
        content: '';
        display: block;
        position: absolute;
        left: 87%;
        top: 44%;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid #FFFF00;
    }

    .prospect-right-end h4 {
        color: #FFFF00;
        font-size: 10px;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
    }

    .prospect-right-end h4 img {
        padding: 1%;
        height: 48px;
    }

    /*END PROSPECT STUDENT*/
    /*NEW STUDENT*/
    .right-responsive-newstudent {
        float: right;
    }

    .left-responsive-newstudent {
        float: left !important;
    }

    .newstudent-right h5 {
        color: #FFFF00;
        font-size: 8px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .newstudent-right h5 img {
        padding: 1%;
        height: 48px;
    }

    .newstudent-left h5 {
        color: #FFFF00;
        font-size: 8px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .newstudent-left h5 img {
        padding: 1%;
        height: 48px;
    }

    .newstudent-down h5 {
        color: #FFFF00;
        font-size: 8px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .newstudent-down h5 img {
        padding: 1%;
        height: 48px;
    }

    .newstudent-end h5 {
        color: #FFFF00;
        font-size: 8px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .newstudent-end h5 img {
        padding: 1%;
        height: 48px;
    }

    .newstudent-right:after {
        content: '';
        display: block;
        position: absolute;
        left: 86%;
        top: 44%;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid #FFFF00;
    }

    .responsive-down-newstudent:after {
        content: '';
        display: block;
        position: absolute;
        left: 45%;
        top: 95%;
        width: 0;
        height: 0;
        border-top: 15px solid #FFFF00;
        border-right: 15px solid transparent;
        border-bottom: 0 solid transparent;
        border-left: 15px solid transparent;
    }

    .responsive-left-newstudent:after {
        content: '';
        display: block;
        position: absolute;
        left: -6%;
        top: 45%;
        margin-top: -20px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 15px solid #FFFF00;
        border-bottom: 15px solid transparent;
        border-left: 15px solid transparent;
    }

    /*END NEW STUDENT*/
}

@media screen and (max-width: 320px) {
    .right-responsive-newstudent {
        float: right;
    }

    .left-responsive-newstudent {
        float: left !important;
    }

    .newstudent-right h5 {
        color: #FFFF00;
        font-size: 8px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .newstudent-right h5 img {
        padding: 1%;
        height: 48px;
    }

    .newstudent-left h5 {
        color: #FFFF00;
        font-size: 8px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .newstudent-left h5 img {
        padding: 1%;
        height: 48px;
    }

    .newstudent-down h5 {
        color: #FFFF00;
        font-size: 8px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .newstudent-down h5 img {
        padding: 1%;
        height: 48px;
    }

    .newstudent-end h5 {
        color: #FFFF00;
        font-size: 8px;
        font-weight: bold;
        line-height: 15px;
        margin: 20px;
        padding: 2%;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        white-space: initial;
    }

    .newstudent-end h5 img {
        padding: 1%;
        height: 48px;
    }

    .newstudent-right:after {
        content: '';
        display: block;
        position: absolute;
        left: 86%;
        top: 44%;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid #FFFF00;
    }

    .responsive-down-newstudent:after {
        content: '';
        display: block;
        position: absolute;
        left: 45%;
        top: 95%;
        width: 0;
        height: 0;
        border-top: 15px solid #FFFF00;
        border-right: 15px solid transparent;
        border-bottom: 0 solid transparent;
        border-left: 15px solid transparent;
    }

    .responsive-left-newstudent:after {
        content: '';
        display: block;
        position: absolute;
        left: -6%;
        top: 45%;
        margin-top: -20px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 15px solid #FFFF00;
        border-bottom: 15px solid transparent;
        border-left: 15px solid transparent;
    }
}